body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.name-h{
    color: orange;
}
.hw{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.hw img{
        width: 100%;
    }
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.gulla{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

}
.se{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    height: 80%;
}
.gg{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#fs{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}
#gs{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 10px;
}